<h1>About FeedMe</h1>
<p>FeedMe is a kick-ass meal planner that'll help you stick to your diet by providing amazing meal suggestions based on your preferences.</p>
<p>Included restrictions could be:</p>
<li>Paleo</li>
<li>Low-carb</li>
<li>Vegetarian</li>
<li>Pescatarian</li>
<li>Dairy-free</li>
<li>Ketogenic</li>
<li>No beef</li>
<li>No pork</li>
<li>Cheap!</li>
<li>Grill only</li>
<li>One pot</li>
<li>Limited prep</li>
