<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "FeedMe", root_path, id: "logo" %>
      <nav>
			<div class="nav pull-right">
				<%= link_to user_name_helper, "/auth/facebook", class: "btn btn-primary btn-default", id: "login" %>
			 <%= link_to "Help", help_path %>
        </div>
      </nav>
    </div>
  </div>
</header>
